<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-video"></i>
                </div>
                <span class="b-title">Fa3Fa3</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Home</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Home</span></a>
                </li>
                <li
                        data-username="Profile Page"
                        class="nav-item {% if 'profile' in segment %} active {% endif %}"
                >
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">Profile</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Analytics</label>
                </li>
                <li
                        data-username="CCTV Page"
                        class="nav-item {% if 'cctv' in segment %} active {% endif %}">
                    <a href="/cctv/" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-video"></i></span>
                        <span class="pcoded-mtext">RealTime CCTV Service</span>
                    </a>
                </li>
                <li
                        data-username="Analytic Page"
                        class="nav-item {% if 'upload' in segment %} active {% endif %}"
                >
                    <a href="/upload.html" class="nav-link">
            <span class="pcoded-micon"
            ><i class="feather icon-upload"></i
            ></span>
                        <span class="pcoded-mtext">Analytics Video</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Archive</label>
                </li>
                <li
                        data-username="result List Page"
                        class="nav-item {% if 'result' in segment %} active {% endif %}"
                >
                    <a href="/result/" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-film"></i></span>
                        <span class="pcoded-mtext">Result List</span>
                    </a>
                </li>
                <li
                        data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                        class="nav-item pcoded-hasmenu"
                ></li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
