{% extends "layouts/base.html" %} {% block title %} Profile {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] end -->

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <!-- [ Main Content ] start -->
                    <div class="container">
                        <div row>
                            <div col="lg-12" style='margin: 70px;'>
                                <h3 class="'text-center mt-2 mb-2">제목: {{ video.title }}</h3>
                                <hr>
                                    <div class="float-left">위치: {{ video.pos }} </div>
                                    <div class="float-right">분석 신청일자 : {{ video.upload_dt|date:"Y-m-d" }}</div>
                            </div>
                            <div col="lg-12" style='margin: 50px;'>
                                <video class="video-js vjs-big-play-button vjs-big-play-centered"
                                       data-setup='{"controls": true, "fluid": true, "autoplay": false, "muted": true, "playbackRates": [0.5, 1, 1.5, 2]}' id="vid1">
                                    <source src={{ video.video.url }} type="video/mp4">
                                    <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
                                    <!---<source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4" />-->
                                </video>
                                <hr>
                                <div class="m-3 m-4">
                                    {% if video.status == 'Incomplete' %}
                                    <strong>아직 분석이 완료되지 않았습니다.</strong>
                                    {% elif video.status == 'Complete' %}
                                    <h4>{{ video.title }}의 영상 분석 결과 {% if video.result == 'Abnormal' %}<strong class="text-danger">이상행동</strong>{% else %}<strong class="text-primary">정상행동</strong>{% endif %}으로
                                        분석되었습니다.</h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
